
<div style="margin-top: 50px;" >



  <mat-card class="example-card">
    <!--<mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <div mat-card-avatar>
        <mat-icon style="color: deepskyblue; font-size: 32px; font-weight: bold;">
          assignment_ind</mat-icon>
      </div>
      <mat-card-title>در باره ما</mat-card-title>
      <mat-card-subtitle>شبکه اعزام سخنران و استاد رحیل بیان</mat-card-subtitle>
    </mat-card-header>-->
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly stretch">

      <!--<mat-form-field fxFlex="100">
        <textarea matInput placeholder="توضیحات" [(ngModel)]="speakerInfo.Description"></textarea>
      </mat-form-field>-->
      
      <mat-form-field>
        <input matInput type="password" [type]="hide ? 'password' : 'text'" placeholder="کلمه عبور قبلی" [(ngModel)]="accountInfo.OldPassword" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" [type]="hide ? 'password' : 'text'" placeholder="کلمه عبور جدید" [(ngModel)]="accountInfo.NewPassword" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" [type]="hide ? 'password' : 'text'" placeholder="تکرار کلمه عبور" [(ngModel)]="accountInfo.ConfirmPassword" required>
      </mat-form-field>


    </mat-card-content>
    <mat-card-actions>

      <button mat-stroked-button matTooltip="ثبت" matTooltipShowDelay="700" color="primary" (click)="changePassword()">
        <mat-icon class="example-icon">save</mat-icon>ذخیره
      </button>

    </mat-card-actions>
  </mat-card>

</div>
