.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align{
  margin: 4px;
}

.mat-card-image {
  height: 115px;
  width: 115px;
  border-radius: 50%;
}

.card-item {
  width: 220px;
  /*height: 150px;
  float: right;*/
  text-align: center;
  margin: 5px;
}

.example-card {
  width: 250px;
  margin: auto;
}
