<div class="about-class">

  <mat-card class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <div mat-card-avatar>
        <mat-icon style="color: deepskyblue; font-size: 32px; font-weight: bold;">
          assignment_ind</mat-icon>
      </div>
      <mat-card-title>در باره ما</mat-card-title>
      <mat-card-subtitle>شبکه خدمات فرهنگی رحیل بیان</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>
        این شبکه مجموعه ای فرهنگی-تبلیغی است که جهت پر کردن بخشی از خلاء جبهه فرهنگی انقلاب اسلامی استان آذربایجان شرقی راه اندازی شده است.
      </p>
      <p>
        هدف از راه اندازی این شبکه، ارائه خدمات به مجموعه ها در دعوت از اساتید حوزه های تخصصی و ارائه خدمات جانبی به اساتید برای بهره گیری مناسب تر از زمان و توان خود در جهت تاثیر گذاری حداکثری می باشد
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!--<button mat-button mat-raised-button color="primary">ثبت سخنران</button>-->
      <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>

</div>

<br/>
<br/>
<br/>
