/* Master Styles  44*/
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body {
    /*margin: 2em;*/
    background-image: url('Content/Images/panelBG.jpg');
    direction: rtl;
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
a {
  cursor: pointer;
    color: #ffffff;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  /*color: #607D8B;*/
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

@font-face {
    font-family: "iransans";
    font-weight: 200;
    src: url("../fonts/iransans_ultralight.woff") format("woff");
}

@font-face {
    font-family: "iransans";
    font-weight: 500;
    src: url("../fonts/iransans_medium.woff") format("woff");
}

@font-face {
    font-family: "iransans";
    font-weight: bold;
    src: url("../fonts/iransans_bold.woff") format("woff");
}

/* everywhere else */
* { 
  /*font-family: Arial, Helvetica, sans-serif;*/ 
  font-family: "iransans",Helvetica,Geneva,Verdana,sans-serif;
    color: #ffffff;
}

.sidenav {
    /*background-color: #7b7a32;*/
    /*background-color: rgba(123,122,50,0.5);*/
      height: 100%;

          font-weight: 600;
}

footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    .content {min-height: 500px}

    .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    margin-right: 0;
    background-color: rgba(0, 0, 9, 0.7);
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

    .tableSection, .panel-default {

        background-color: rgba(30, 30, 39, 0);
        
    }

    .mainPanel {
        background-color: rgba(30, 30, 39, 0.5);
    }

nav .mainToolbar, nav .mainToolbar ul, nav .mainToolbar ul li, .mainToolbar a {
    margin: 0;
    padding: 0;
}
nav .mainToolbar {
    background-color: rgba(10,10, 10, 0.8);
}
nav a {
    background-color: rgba(13, 91, 208,0);
    font-size: x-large;
    padding: 10px;
    line-height: 15px;
}

.row.content {
    height: auto;
}
table thead tr th {
    
    font-weight: 800;
    background-color: rgba(30, 30, 39, 0.7);
}
table thead tr th a {
    cursor: pointer;
}

table tbody tr.selected {
        background-color: rgba(0, 255, 255, 0.5);
}

.modal-dialog label, .modal-dialog p {
    color: black;
}





