<ng-container *ngIf="shouldRun" >
  <div fxLayout="row" fxLayout.xs="column">
    <mat-toolbar class="example-header">

      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <!--<a mat-button color="primary" [routerLink]="['/']">صفحه اصلی</a>-->
      <div class="user-actions-toolbar">

        <ng-container *ngIf="authenticationService.currentUserValue">


          <!--mat-icon-button-->
          <button mat-stroked-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
            {{authenticationService.currentUserValue.FullName}}
          </button>
          <mat-menu #menu="matMenu">

            <!--<button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voicemail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>-->


            <button mat-menu-item routerLink="/index-page/account/19">
              <mat-icon>assignment_turned_in</mat-icon>
              <span>پروفایل من</span>
            </button>

            <button mat-menu-item routerLink="/index-page/account/20">
              <mat-icon>vpn_key</mat-icon>
              <span>تغییر کلمه عبور</span>
            </button>

            <button mat-menu-item (click)="logout()">
              <mat-icon color="warn">power_settings_new</mat-icon>
              <span>خروج از حساب کاربری</span>
            </button>

            <!--<a mat-stroked-button matTooltip="خروج از حساب کاربری" matTooltipShowDelay="500" color="warn" (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>خروج از حساب کاربری</span>
            </a>-->

          </mat-menu>


          <!--<button mat-stroked-button routerLink="/index-page/account" [class.selected]="getIsCurrentCategory('/index-page/account')">
            <mat-icon>perm_identity</mat-icon>{{authenticationService.currentUserValue.FullName}}
          </button>-->

        </ng-container>

        <!--<button mat-stroked-button *ngIf="authenticationService.currentUserValue"><mat-icon>perm_identity</mat-icon>{{authenticationService.currentUserValue.FullName}}</button>

        <a mat-stroked-button matTooltip="خروج از حساب کاربری" matTooltipShowDelay="500" color="warn" (click)="logout()" *ngIf="authenticationService.currentUserValue">
          <mat-icon>power_settings_new</mat-icon>
        </a>-->

      </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                   [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                   [fixedBottomGap]="options.value.bottom">
        <!--{{options.value.fixed ? 'Fixed' : 'Non-fixed'}} Sidenav-->

        <a mat-stroked-button color="primary" [routerLink]="['/']">صفحه اصلی</a>
        <a mat-stroked-button routerLink="/admin-panel/the-speaker" [class.selected]="getIsCurrentCategory('/admin-panel/the-speaker')">خدمات فرهنگی</a>
        <a mat-stroked-button routerLink="/admin-panel/speaker-request" [class.selected]="getIsCurrentCategory('/admin-panel/speaker-request')">درخواست های خدمات</a>
        <a mat-stroked-button routerLink="/admin-panel/const" [class.selected]="getIsCurrentCategory('/admin-panel/const')">ثابت ها</a>
        <a mat-stroked-button routerLink="/admin-panel/post" [class.selected]="getIsCurrentCategory('/admin-panel/post')">پست ها</a>
        <a mat-stroked-button routerLink="/admin-panel/users" [class.selected]="getIsCurrentCategory('/admin-panel/users')">کاربران</a>
        <!--<a mat-stroked-button routerLink="/admin-panel/crisis-center" [class.selected]="getIsCurrentCategory('/admin-panel/crisis-center')" >Crisis Center</a>
        <a mat-stroked-button routerLink="/admin-panel/superheroes" [class.selected]="getIsCurrentCategory('/admin-panel/superheroes')" >Heroes</a>
        <a mat-stroked-button routerLink="/admin-panel/admin" [class.selected]="getIsCurrentCategory('/admin-panel/admin')" >Admin</a>
        <a mat-stroked-button routerLink="/admin-panel/login" [class.selected]="getIsCurrentCategory('/admin-panel/login')" >Login</a>
        <a mat-stroked-button [routerLink]="[{ outlets: { popup: ['compose'] } }]" >Contact</a>-->

      </mat-sidenav>

      <mat-sidenav-content [formGroup]="options">
        <!--<p><mat-checkbox formControlName="fixed">Fixed</mat-checkbox></p>
        <p>
          <mat-form-field>
            <input matInput type="number" formControlName="top" placeholder="Top gap">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput type="number" formControlName="bottom" placeholder="Bottom gap">
          </mat-form-field>
        </p>

        <router-outlet></router-outlet>-->

        <div [@routeAnimation]="getAnimationData(routerOutlet)">
          <router-outlet #routerOutlet="outlet"></router-outlet>
        </div>
        <router-outlet name="popup"></router-outlet>

        <div style="clear: both"></div>
        <footer class="example-footer">
          <!--<mat-toolbar class="example-footer">
          <!--<mat-toolbar-row></mat-toolbar-row>
          <mat-toolbar-row></mat-toolbar-row>
          <mat-toolbar-row></mat-toolbar-row>
          <!-- This fills the remaining space of the current row
          <span class="example-fill-remaining-space"></span>
          </mat-toolbar>-->
        </footer>

      </mat-sidenav-content>
    </mat-sidenav-container>
    </div>
    <!--<mat-toolbar class="example-footer">Footer</mat-toolbar>-->
</ng-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
