
<div>

  <mat-accordion class="example-headers-align" fxLayout="column" fxLayoutAlign="space-evenly stretch">

    <mat-expansion-panel expanded="true"> <!--hideToggle-->
      <!--expanded="true"-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon  color="primary">account_circle</mat-icon>
          اطلاعات پروفایل
        </mat-panel-title>
        <!--<mat-panel-description>
          
          <mat-icon color="primary">account_circle</mat-icon>
          اطلاعات پروفایل
        </mat-panel-description>-->
      </mat-expansion-panel-header>

      <div fxLayout="row wrap">

        <div fxFlex mat-dialog-title>
          <img [src]="(data.ImageUrl? data.ImageUrl : '/Content/Images/TheSpeakerImages/personelIcon.png')" width="60" height="60" />
          <!--<div class="container">
          <button md-raised-button color="primary" (click)="fileInput.click()">Upload</button>
          <input id="ImageUrl" hidden type="file" (change)="onSelectFile($event)" #fileInput>-->

          <button mat-mini-fab color="warn" *ngIf="data.ImageUrl" mat-stroked-button matTooltip="حذف عکس" matTooltipShowDelay="700" color="warn" (click)="deleteImage(data.ImageFileId)">
            <mat-icon class="example-icon">clear</mat-icon>
          </button>
          <!--<input *ngIf="!data.ImageUrl" type='file' (change)="handleFileInput($event.target.files)">-->
          <input *ngIf="!data.ImageUrl" type='file' id="ImageFileIdField" #ImageFileIdField (change)="handleFileInput(ImageFileIdField, 100)">

          <!--</div>-->
          <!--<angular-file-uploader
            [config]="afuConfig"
            [resetUpload]=resetVar
            (ApiResponse)="DocUpload($event)">
          </angular-file-uploader>-->

        </div>

        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between start">


          <mat-form-field>
            <mat-select placeholder="نوع فعالیت" [(ngModel)]="data.SSActivityId" (selectionChange)="fillDependSelect()" required>
              <mat-option *ngFor="let item of selectListActivityTypes" [value]="item.Id">
                {{item.Text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container *ngIf="data.SSActivityId">

            <mat-form-field>
              <mat-select placeholder="زمینه فعالیت" [(ngModel)]="data.TblSpeechFieldIds" multiple required>
                <mat-option *ngFor="let item of selectListSpeechFields" [value]="item.Id">
                  {{item.Text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="data.SSActivityId==306">
              <input matInput placeholder="عنوان گروه" [(ngModel)]="data.GroupName" required>
            </mat-form-field>

            <!--<mat-form-field appearance="outline">
              <mat-label>نام</mat-label>
              <input matInput placeholder="نام" [(ngModel)]="data.FName" required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>-->

            <mat-form-field>
              <input matInput [placeholder]="'نام' + (data.SSActivityId==306 ? ' (مسئول) ' : '') " [(ngModel)]="data.FName" required>
            </mat-form-field>
            <!--<div fxFlex="10"></div>-->
            <mat-form-field>
              <input matInput [placeholder]="'نام خانوادگی' + (data.SSActivityId==306 ? ' (مسئول) ' : '')" [(ngModel)]="data.LName" required>
            </mat-form-field>
            <!--<div fxFlex="10"></div>-->
            <mat-form-field>
              <input matInput [placeholder]="'شماره همراه' + (data.SSActivityId==306 ? ' (مسئول) ' : '')" [(ngModel)]="data.MobileNumber" required>
            </mat-form-field>



            <!--<mat-form-field>
              <input matInput placeholder="دانشگاه" [(ngModel)]="data.University">
            </mat-form-field>-->
            <mat-form-field *ngIf="data.SSActivityId!=306">
              <input matInput placeholder="آخرین مقطع تحصیلی" [(ngModel)]="data.Grade" required>
            </mat-form-field>
            <mat-form-field *ngIf="data.SSActivityId!=306">
              <input matInput placeholder="رشته تحصیلی" [(ngModel)]="data.Major" required>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="شهر" [(value)]="data.CityId" required>
                <mat-option>--انتخاب کنید--</mat-option>
                <mat-option *ngFor="let city of selectListCity" [value]="city.Id">
                  {{city.Text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!--<mat-form-field>
              <textarea matInput placeholder="توضیحات" [(ngModel)]="data.Description"></textarea>
            </mat-form-field>-->
            <!--<mat-form-field>
              <input matInput placeholder="تاریخ و زمان تایید " [(ngModel)]="data.ApprovedDate">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="تاریخ و زمان انتشار " [(ngModel)]="data.PublishDate">
            </mat-form-field>-->
            <!--<mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>-->

          </ng-container>

        </div>

      </div>

    </mat-expansion-panel>

    <ng-container *ngIf="data.SSActivityId">

      <mat-expansion-panel *ngIf="data.SSActivityId!=306">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">school</mat-icon>
            سوابق تحصیلی رسمی و غیر رسمی
          </mat-panel-title>
          <!--<mat-panel-description>
            الزامی
            <mat-icon color="primary">school</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>

        <!--<mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" min="1" placeholder="Age">
      </mat-form-field>-->

        <ckeditor [(ngModel)]="data.EducationDescription"
                  required
                  [config]="ckeConfig"
                  debounce="500"
                  (change)="onChange($event)">
        </ckeditor>

        <!--<mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>-->
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="data.SSActivityId!=301">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">perm_contact_calendar</mat-icon> 
            سوابق فعالیت
          </mat-panel-title>
          <!--<mat-panel-description>
            الزامی
            <mat-icon color="primary">perm_contact_calendar</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>

        <ckeditor [(ngModel)]="data.ActivityDescription"
                  required
                  [config]="ckeConfig"
                  debounce="500"
                  (change)="onChange($event)">
        </ckeditor>

      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="data.SSActivityId==301">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">person</mat-icon> 
            سوابق و موضوعات تدریس
          </mat-panel-title>
          <!--<mat-panel-description>
            الزامی
            <mat-icon color="primary">person</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>

        <ckeditor [(ngModel)]="data.TeachingDescription"
                  required
                  [config]="ckeConfig"
                  debounce="500"
                  (change)="onChange($event)">
        </ckeditor>

        <!--<mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>-->
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="data.SSActivityId!=306">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">assignment_ind</mat-icon> 
            سوابق اجرایی
          </mat-panel-title>
          <!--<mat-panel-description>
            الزامی
            <mat-icon color="primary">assignment_ind</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>

        <ckeditor [(ngModel)]="data.RecordsDescription"
                  required
                  [config]="ckeConfig"
                  debounce="500"
                  (change)="onChange($event)">
        </ckeditor>

        <!--<mat-form-field>
        <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>-->
        <!--<mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>-->
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="data.SSActivityId==301 || data.SSActivityId==302 || data.SSActivityId==303">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">library_books</mat-icon> 
            سوابق پژوهش و تالیف
          </mat-panel-title>
          <!--<mat-panel-description>
            اختیاری
            <mat-icon color="primary">library_books</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>

        <ckeditor [(ngModel)]="data.ResearchDescription"
                  [config]="ckeConfig"
                  debounce="500"
                  (change)="onChange($event)">
        </ckeditor>

        <!--<mat-form-field>
        <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>-->
        <!--<mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>-->
      </mat-expansion-panel>

      <!--<mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            دیدگاه استاد
          </mat-panel-title>
          <mat-panel-description>
            اختیاری
            <mat-icon color="primary">streetview</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ckeditor [(ngModel)]="data.MasterDescription"
                  [config]="ckeConfig"
                  debounce="400"
                  (change)="onChange($event)">
        </ckeditor>
      </mat-expansion-panel>-->

      <mat-expansion-panel *ngIf="data.SSActivityId!=302">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary">mic</mat-icon> 
            نمونه صوت
          </mat-panel-title>
          <!--<mat-panel-description>
            اختیاری
            <mat-icon color="primary">mic</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>

        <!--<mat-form-field>
        <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>-->

        <div>
          <!--<a  [href]="data.ResumeUrl" width="60" height="60" *ngIf="data.ResumeUrl">
          <mat-icon class="example-icon">get_app</mat-icon>
        </a>-->

          <video *ngIf="data.ResumeUrl" controls>
            <source [src]="data.ResumeUrl">
            Your browser does not support the video tag.
          </video>

          <div class="container">
            <button mat-mini-fab color="warn" *ngIf="data.ResumeUrl" mat-stroked-button matTooltip="حذف فایل" matTooltipShowDelay="700" color="warn" (click)="deleteResume(data.ResumeFileId)">
              <mat-icon class="example-icon">clear</mat-icon>
            </button>
            <!--<mat-icon class="example-icon">attach_file</mat-icon>-->
            <input id="ResumeFileId" type="file" #ResumeFileId (change)="handleFileInput(ResumeFileId,101)" *ngIf="!data.ResumeUrl">
          </div>
        </div>

      </mat-expansion-panel>


    </ng-container>

  </mat-accordion>


  <!--<section class="example-section">
    <mat-progress-bar
      class="example-margin"
      color="primary"
      mode="indeterminate"
      value="50"
      bufferValue="75">
    </mat-progress-bar>
  </section>-->

  <div mat-dialog-actions>
    <button mat-raised-button (click)="add()" cdkFocusInitial><mat-icon color="primary" class="example-icon">save</mat-icon>ذخیره</button> <!--[mat-dialog-close]="data"-->
    <button mat-raised-button (click)="onNoClick()"><mat-icon color="primary" class="example-icon">cancel</mat-icon>لغو</button>
  </div>

</div>
