<!--<h3>Contact Crisis Center</h3>-->

<div>

  <mat-divider></mat-divider>

  <mat-card class="example-card">
    <mat-card-header style="margin: auto;">
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      
      <mat-card-title>
        <mat-icon style="color: saddlebrown; font-size: 32px; font-weight: bold;">public</mat-icon>
        اخبار
      </mat-card-title>
      <!--<mat-card-subtitle>درخواست سخنران</mat-card-subtitle>-->
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly none"  >


        <mat-card class="example-card card-item" *ngFor="let post of postList" (click)="showDetail(post.Id)">
          <img mat-card-image [src]="post.ImageUrl" >
          <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>-->
            <!--<div mat-card-avatar> <mat-icon style="color: deepskyblue; font-size: 32px; font-weight: bold;">assignment_ind</mat-icon></div>-->
            <mat-card-title>{{post.Title}}</mat-card-title>
           <!-- <mat-card-subtitle>درخواست سخنران</mat-card-subtitle>-->
          </mat-card-header>

          <mat-card-content>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly none">

            </div>
          </mat-card-content>
          <!--<mat-card-actions>

            <button mat-stroked-button matTooltip="درخواست سخنران" matTooltipShowDelay="700" color="primary" (click)="showRequestForm()">
              <mat-icon class="example-icon">assignment_turned_in</mat-icon>درخواست سخنران
            </button>
          </mat-card-actions>-->
        </mat-card>


      </div>
    </mat-card-content>
    <mat-card-actions>

      <!--<button mat-stroked-button matTooltip="درخواست سخنران" matTooltipShowDelay="700" color="primary" (click)="showRequestForm()">
        <mat-icon class="example-icon">assignment_turned_in</mat-icon>درخواست سخنران
      </button>-->
      
      <button mat-button color="primary" routerLink="/index-page/post">
        <mat-icon style="font-size: 26px; font-weight: bold;">more</mat-icon>
        سایر اخبار
      </button>
    </mat-card-actions>
  </mat-card>

</div>
