@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="jumbotron">
    <h2 class="aqua">درباره ما</h2>
    <p>
        زنگوله اپلیکیشنی است با موضوع جستجو و ارسال آنلاین آگهی های خرید و فروش و خدمات توسط مردم. تمامی آگهی های خرید و فروش و خدمات توسط کاربران ارسال شده و زنگوله فقط آگهی ها را بررسی و تایید میکند.
    </p>

    <p>

        آیا دنبال یک راه ساده، سریع و هدفمند برای خرید و فروش اجناس دلخواهتان هستید؟ راهی برای عرضه یا درخواست اجناس نو و کارکرده...؟
        زنگوله را از دست ندهید. با اپلیکیشن زنگوله کافیست با گفتن نام محصول مورد نظر خود ازطریق جستجوی صوتی و یا با انتخاب چند دسته و فیلتر کردن آن، به اجناسی با نوع و برند دلخواهتان دست یابید. مستقیم و بدون واسطه بخرید، بفروشید و از خدمات استفاده کنید...
        ما در زنگوله 24 ساعته شما کاربران عزیز را پشتیبانی کرده و به تمامی سوالاتتان در حداقل زمان ممکن پاسخ خواهیم داد.
        از شما کمک خواهیم گرفت تا با نظرات مفیدتان ما را برای بهتر شدن یاری کنید و تمام تلاشمان را خواهیم کرد تا از کار کردن با یک اپلیکیشن ایرانی، نهایت لذت و استفاده را ببرید.

    </p>
</div>