@{
    //ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
        <section id="introduce" class="introduce">
            <div class="container">
                <div class="row">
                    <div class="col--small-12 col--medium-6 col-vertical-align_middle" style="background-image: url('../../Content/Images/ated.jpg'); background-size: 100% 103%; min-height: 277px;">

                     <div class="col-inner"></div>
                    </div>
                    <div class="col--small-12 col--medium-6 col-vertical-align_middle">
                        <div class="col-inner">
                            @*<h3 class="title">زنگوله را بشناسید</h3>*@
                            <p class="paragraph">
                                زنگوله اپلیکیشنی است با موضوع جستجو و ارسال آنلاین آگهی های خرید و فروش و خدمات توسط مردم. تمامی آگهی های خرید و فروش و خدمات توسط کاربران ارسال شده و زنگوله فقط آگهی ها را بررسی و تایید میکند.
                            </p>
                            <p class="paragraph">

                                آیا دنبال یک راه ساده، سریع و هدفمند برای خرید و فروش اجناس دلخواهتان هستید؟ راهی برای عرضه یا درخواست اجناس نو و کارکرده...؟
                            </p>
                            <p class="paragraph">

                                زنگوله را از دست ندهید. با اپلیکیشن زنگوله کافیست با گفتن نام محصول مورد نظر خود از طریق جستجوی صوتی و یا با انتخاب چند دسته و فیلتر کردن آن، به اجناسی با نوع و برند دلخواهتان دست یابید. مستقیم و بدون واسطه بخرید، بفروشید و از خدمات استفاده کنید...

                            </p>

                            @*<a href="download" class="btn btn-color-aqua large"><i class=""></i>دریافت زنگوله</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @*<section class="features">
                <div class="container">
                    <h2 class="major--title">چرا زنگوله ...؟</h2>
                    <div class="row">
                        <div class="col--medium-2 hide-on-small">
                            <a href="#" class="btn-features active"><i class=""></i>دسترسی ساده و سریع</a>
                            <a href="#" class="btn-features">
                                <i class=""></i>به صرفه و اقتصادی
                            </a>
                            <a href="#" class="btn-features"> <i class=""></i>با کیفیت</a><a href="#" class="btn-features"><i class=""></i>پرداخت آنلاین</a>
                            <a href="#" class="btn-features"><i class=""></i>برآورد هزینه سفر</a><a href="#" class="btn-features"><i class=""></i>نمایش زنده خودروها در نقشه</a>
                        </div>
                        <div class="col--medium-10">
                            <section class="features-main">
                                <div class="slides">
                                    <div class="slide active-slide">
                                        <div class="row">
                                            <div class="col--small-12 col--large-3 col-vertical-align_middle"><i class="sprite_concept sprite_concept-simple"></i></div>
                                            <div class="col--small-12 col--large-8 col-vertical-align_middle">
                                                <h2 class="title">دسترسی ساده و سریع</h2>
                                                <p class="lead hide-on-small">تمام آنچه که لازم دارید تنها یک کلیک است و بس؛ به سرعت اسنپ خود را دریافت خواهید کرد.</p>
                                                <p>اسنپ برای شما سادگی را به ارمغان آورده و در کنار آن، سرعت نیز از مشخصه&zwnj;های اصلی ما است. با استفاده از اپلیکیشن اسنپ به سادگی هرچه تمام&zwnj;تر در کمترین زمان ممکن می&zwnj;توانید به خودروی خود دسترسی داشته باشید. فرایند کلی به گونه&zwnj;ای چیده شده که بدون در نظر گرفتن اینکه درخواستتان را در خانه، محل کار و یا حتی در خیابان ثبت کرده&zwnj;اید، به صورت خودکار نزدیک&zwnj;ترین اسنپ در خدمت شما قرار بگیرد. ما نهایت تلاش خود را به کار گرفته&zwnj;ایم تا پروسه درخواست تا دریافت اسنپ بسیار ساده باشد تا همه افراد از سرویس&zwnj;دهی ما نهایت لذت و استفاده را ببرند.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="row">
                                            <div class="col--small-12 col--large-3 col-vertical-align_middle"><i class="sprite_concept sprite_concept-economic"></i></div>
                                            <div class="col--small-12 col--large-8 col-vertical-align_middle">
                                                <h2 class="title">به صرفه و اقتصادی</h2>
                                                <p class="lead hide-on-small">
                                                    ما در اسنپ هزینه&zwnj;ها را به گونه&zwnj;ای محاسبه می&zwnj;کنیم تا کاربران سفر خود را با رضایت کامل به
                                                    پایان برسانند.
                                                </p>
                                                <p>
                                                    اسنپ همواره به دنبال این هدف بوده که کاربران به صرفه&zwnj;ترین و اقتصادی&zwnj;ترین سفر خود را داشته
                                                    باشند. اما این موضوع به آن معنا نیست که ما به فکر رانندگان عزیز نیستیم. ما با استفاده
                                                    از الگوریتم&zwnj;های پیچیده تلاش داریم که هزینه سفر را به گونه&zwnj;ای تعیین کنیم که هر دو طرف
                                                    از سفر خود رضایت کامل داشته باشند. کارشناسان ما همه روزه در تلاش هستند تا با بهبود
                                                    سیستم محاسبه هزینه، بهترین و منصفانه&zwnj;ترین مبالغ برای سفرهای شما تعیین شود. از طرفی
                                                    ما با برگزاری کمپین&zwnj;ها و طرح&zwnj;های تشویقی سعی در جلب رضایت صد در صدی شما عزیزان هستیم.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="row">
                                            <div class="col--small-12 col--large-3 col-vertical-align_middle"><i class="sprite_concept sprite_concept-qualify"></i></div>
                                            <div class="col--small-12 col--large-8 col-vertical-align_middle">
                                                <h2 class="title">با کیفیت ویژه</h2>
                                                <p class="lead hide-on-small">
                                                    کاربرانمان برای ما بسیار مهم هستند؛ حضور راننده&zwnj;ای محترم و مودب با خودروی تمیز و مجهز به
                                                    امکانات گرمایشی و سرمایشی در اسنپ گواه این ادعا است.
                                                </p>
                                                <p>
                                                    حفظ کیفیت از جمله مواردی بوده که اسنپ برای آن اهمیت بسیار بالایی قائل است. در منشور اخلاقی
                                                    ما ادب و احترام جایگاه ویژه&zwnj;ای دارد. تیم پشتیبانی ۲۴ ساعته ما حتی در روزهای تعطیل هم
                                                    شما را تنها نخواهد گذاشت. علاوه بر تماس مستقیم، از طریق اپلیکیشن هم می&zwnj;توانید سوالاتتان
                                                    را با ما در میان بگذارید و در سریع&zwnj;ترین زمان ممکن پاسخ خود را دریافت کنید. همچنین در
                                                    پایان هر سفر از شما خواسته می&zwnj;شود که به سفر خود از ۱ تا ۵ امتیاز دهید. ما با زیر نظر
                                                    داشتن این موارد تلاش می&zwnj;کنیم تا روز به روز سرویس&zwnj;دهی بهتری را داشته باشیم.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="row">
                                            <div class="col--small-12 col--large-3 col-vertical-align_middle"><i class="sprite_concept sprite_concept-pay-online"></i></div>
                                            <div class="col--small-12 col--large-8 col-vertical-align_middle">
                                                <h2 class="title">پرداخت آنلاین</h2>
                                                <p class="lead hide-on-small">
                                                    دیگر نیازی به پول نقد نیست؛ اعتبار حساب کاربری خود را آنلاین افزایش دهید تا هزینه سفر به
                                                    صورت خودکار پرداخت شود.
                                                </p>
                                                <p>
                                                    یکی از مسائلی که ما مفتخریم آن را اعلام کنیم این است که ما به عنوان اولین سرویس درخواست
                                                    خودرو از طریق اپلیکیشن، راهکاری را ارائه داده&zwnj;ایم که کاربران هزینه سفرهای خود را به
                                                    صورت اعتباری و از طریق کارت&zwnj;های متصل به شتاب پرداخت کنند. بدین صورت که شما اعتبار حساب
                                                    کاربری خود را از طریق اپلیکیشن به میزان دلخواه افزایش داده و پس از درخواست اسنپ، هزینه
                                                    سفر به صورت خودکار از آن محل کسر خواهد شد. ما برای صرفه&zwnj;جویی در وقت و هزینه پرداخت
                                                    اعتباری را به شما پیشنهاد می&zwnj;کنیم، اما اگر به هر دلیل اعتبار حساب کافی نبود، مابقی
                                                    مبلغ را به صورت نقدی به راننده پرداخت کنید.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="row">
                                            <div class="col--small-12 col--large-3 col-vertical-align_middle"><i class="sprite_concept sprite_concept-calculate"></i></div>
                                            <div class="col--small-12 col--large-8 col-vertical-align_middle">
                                                <h2 class="title">برآورد هزینه سفر</h2>
                                                <p class="lead hide-on-small">قبل از آغاز سفر درون&zwnj;شهری از هزینه نهایی خود مطلع شده و سپس درخواست اسنپ دهید.</p>
                                                <p>
                                                    یکی از نگرانی&zwnj;های مسافرین درون&zwnj;شهری کرایه&zwnj;های خودروهای مسافربر است. ولی ما این مشکل را
                                                    برطرف کرده&zwnj;ایم، چرا که شما قبل از درخواست خودرو از هزینه خود مطلع شده&zwnj;اید. اپلیکیشن
                                                    اسنپ به شما این امکان را می&zwnj;دهد که پس از مشخص کردن مبدا و مقصد سفر هزینه نهایی خود
                                                    را بدانید. با این قابلیت شما پیش از آغاز سفر از هزینه خود اطلاع کامل دارید و با برنامه&zwnj;ریزی
                                                    بهتری قادر به درخواست خودرو خواهید بود. در برآورد هزینه سفر علاوه بر مسافت، چند فاکتور
                                                    دیگر هم مد نظر است که از جمله آنها می&zwnj;توان به ساعت درخواست، سهولت دسترسی و غیره اشاره
                                                    کرد.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="row">
                                            <div class="col--small-12 col--large-3 col-vertical-align_middle"><i class="sprite_concept sprite_concept-live"></i></div>
                                            <div class="col--small-12 col--large-8 col-vertical-align_middle">
                                                <h2 class="title">نمایش زنده خودروها</h2>
                                                <p class="lead hide-on-small">به صورت زنده و در لحظه خودروهای اطرافتان را ببینید.</p>
                                                <p>
                                                    یکی دیگر از امکانات جذاب اسنپ، مشاهده زنده خودروها روی نقشه است. به این صورت که شما قبل
                                                    از اینکه اقدام به درخواست خودرو از اسنپ کنید، به روی نقشه محل دقیق و تعداد اسنپ&zwnj;های
                                                    موجود در محدوده اطرافتان را می&zwnj;بینید. پس از درخواست اسنپ و قبول سفر توسط یکی از راننده&zwnj;های
                                                    نزدیک شما، مشخصات راننده از جمله نام و نام خانوادگی، نوع خودرو، رنگ و اطلاعات آن را
                                                    خواهید دید. همچنین نقشه روی خودروی مذکور متمرکز می&zwnj;شود که لحظه به لحظه به شما نزدیک&zwnj;تر
                                                    خواهد شد. پس از سوار شدن در خودروی درخواستی و آغاز سفر، نقشه به طور خودکار محل خودرو
                                                    و مقصد را نمایش می&zwnj;دهد.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <nav class="dotted-handle">
                                    <div id="slider-dots">
                                        <a href="#" class="module active-dot"><i class="circle"></i></a><a href="#" class="module"><i class="circle"></i></a>
                                        <a href="#" class="module"><i class="circle"></i></a><a href="#" class="module"><i class="circle"></i></a>
                                        <a href="#" class="module"><i class="circle"></i></a><a href="#" class="module"><i class="circle"></i></a>
                                    </div>
                                </nav>
                            </section>
                        </div>
                    </div>
                </div>
            </section>*@
        @*<section class="app">
                <div class="container">
                    <div class="row">
                        <div class="col--small-12 col--medium-8 col-vertical-align_middle">
                            <div class="col-inner">
                                <h3 class="title">اسنپ را همیشه در جیبتان داشته باشید.</h3>
                                <h6>در خانه، خیابان یا هرجا که باشید تنها با یک کلیک نزدیک&zwnj;ترین اسنپ در خدمت شما خواهد بود.</h6>
                                <p>
                                    با اسنپ سفرهای درون شهری شما رنگ و بوی تازه&zwnj;ای می&zwnj;گیرند. بدون در نظر گرفتن اینکه در خانه یا خیابان قرار
                                    دارید، فقط با نصب بودن نرم افزار اسنپ در موبایل و درخواست خودرو، در هر ساعت از شبانه روز به مقصد خواهید
                                    رسید. کافیست اسنپ را باز کنید، مبدا و مقصد را مشخص کرده و پس از مشاهده هزینه سفر، گزینه درخواست اسنپ
                                    را لمس کنید. ما به عنوان رابط بین شما و رانندگان شهر تهران، تلاش می&zwnj;کنیم تا شما سفر بسیار خوبی را تجربه
                                    کنید.
                                    <br>با اسنپ شما نیازی به پرداخت نقدی نخواهید داشت و تمامی هزینه&zwnj;های سفر خود را می&zwnj;توانید به صورت آنلاین
                                    و با افزایش اعتبار حساب کاربری خود پرداخت کنید. تیم پشتیبانی اسنپ هم به صورت ۲۴ ساعته عملکرد رانندگان
                                    را تحت نظر داشته و پاسخگوی سوالات و نظرات شما هستند.
                                    <br>
                                    <br>نرم افزار اسنپ در حال حاضر برای ۲ سیستم عامل اندروید و iOS منتشر شده و شما می&zwnj;توانید با نصب آن، از
                                    پیشنهادات ویژه و امکانات روز افزون ما استفاده کنید.
                                </p>
                                <div class="downloads">
                                    <div class="row">
                                        <div class="col--small-6 col--medium-3">
                                            <div class="col-inner">
                                                <a href="https://app.adjust.com/prncxv?redirect=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Fsnapp-asnp%2Fid996370173%3Fls%3D1%26mt%3D8" class="hero-image">
                                                    <img src="./dist/img/tmp/appstore.svg" alt="دریافت از اپ&zwnj;استور" title="دریافت از اپ&zwnj;استور">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col--small-6 col--medium-3">
                                            <div class="col-inner">
                                                <a href="https://app.adjust.com/8jm45r?redirect=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcab.snapp.passenger" class="hero-image">
                                                    <img src="./dist/img/tmp/google-play-badge.svg" alt="دریافت از گوگل&zwnj;پلی" title="دریافت از گوگل&zwnj;پلی">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col--small-6 col--medium-3">
                                            <div class="col-inner">
                                                <a href="https://app.adjust.com/qc9hgx?redirect=https%3A%2F%2Fcafebazaar.ir%2Fapp%2Fcab.snapp.passenger%2F%3Fl%3Dfa" class="hero-image">
                                                    <img src="./dist/img/tmp/bazaar.svg" alt="دریافت از کافه بازار" title="دریافت از کافه بازار">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col--small-6 col--medium-3">
                                            <div class="col-inner">
                                                <a href="https://app.adjust.com/2s0yg3?redirect=https%3A%2F%2Fapps.snapp.site%2Fandroid%2Fpassenger%2F2.5.5%2Fsnapp-passenger-2.5.5.apk" class="hero-image">
                                                    <img src="./dist/img/tmp/snappandroid.svg" alt="دریافت از اسنپ" title="دریافت از اسنپ">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col--small-12 col--medium-4 col-vertical-align_middle">
                            <div class="col-inner">
                                <div id="iphone6s" class="phone black">
                                    <div class="top-group"></div>
                                    <div class="left-group"></div>
                                    <div class="right-group"></div>
                                    <div class="top-accents"></div>
                                    <div class="bottom-accents"></div>
                                    <div class="screen">
                                        <div class="screen-wrap">
                                            <img src="./dist/img/app_cast.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@


        <div class="jumbotron" style="margin-top: 10px;">
            <h2 class="aqua">ویژگی های زنگوله:</h2>
            <hr />
           
            <div class="row marketing" style="margin: 25px 10px;">
                <div class="col-lg-6">

                    <div class="alert alert-info" role="alert">
                        <strong>ارسال سریع و رایگان آگهی</strong>
                    </div>
                    <div class="alert alert-info" role="alert">
                        <strong>جستجوی آسان ، دقیق و هدفمند</strong>
                    </div>
                    <div class="alert alert-info" role="alert">
                        <strong>نمایش آگهی شما در بیلبورد ویژه</strong>
                    </div>

                    
                </div>

                <div class="col-lg-6">

                    <div class="alert alert-info" role="alert">
                        <strong>نمایش پروفایل کاربران فعال</strong>
                    </div>
                    <div class="alert alert-info" role="alert">
                        <strong>جوایز ویژه با فروشگاه متنوع</strong>
                    </div>
                    <div class="alert alert-info" role="alert">
                        <strong>راهنمای امکانات با پشتیبانی 24 ساعته</strong>
                    </div>
                    
                    
                </div>

                <hr />
                <br />
                <a type="button" class="btn btn-lg btn-danger" href="~/home/Products">محصولات</a>
                <a type="button" class="btn btn-lg btn-success" href="~/Content/Files/Zangole.apk">دانلود مستقیم</a>
                <a type="button" class="btn btn-lg btn-primary">دانلود از بازار</a>

            </div>

        </div>

        @*<section class="footer">
            <div class="container">
                <div class="row">
                    <ul>
                        <li><a href="terms">شرایط و قوانین</a></li>
                        <li><a href="about">درباره ما</a></li>
                        <li><a href="contact">تماس با ما</a></li>
                    </ul>
                    <div dir="ltr" class="icons" "=" ">
                        <p>©کپی رایت تمامی حقوق مادی و معنوی این سایت متعلق به زنگوله است</p>
                    </div>
                </div>
            </div>
        </section>

        <script src="~/Scripts/jquery-3.1.1.min.js"></script>     
        <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

        </div>
</body>
</html>*@