
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="jumbotron">
    <h2 class="aqua">موارد عدم تایید آگهی :</h2>
    <p>
        
        <ol type="1">
            <li>مغایرت با قوانین جمهوری اسلامی ایران و عرف جامعه</li>
            <li>استفاده ابزاری ازتصاویراشخاص درآگهی و نقض حریم شخصی افراد</li>
            <li>هر نوع آگهی و خبرپراکنی سیاسی، اجتماعی و مذهبی که جنبه تجاری نداشته باشد</li>
            <li>توهین به ادیان رسمی، آداب و رسوم، قومیت‌ها، لهجه‌ها و گویش‌های مختلف</li>
            <li>استفاده از حروف و زبان انگلیسی برای آگهی‌های فارسی</li>
            <li>استفاده از عبارات مفت، ارزان، زیر قیمت، استثنائی و کلمات مشابه</li>
            <li>خدمات یا کالاهای مربوط به نصب آنتن، راه اندازی ماهواره اینترنتی و عبوراز فیلترینگ</li>
            <li>ابزار یا آموزش‌ نفوذ، خرابکاری، شکستن قفل، هک و کرک</li>
            <li>فروش نرم‌افزاروکتب بدون مجوزقانونی انتشار یا ناقض قانون حمایت از حقوق مؤلفان و مصنفان</li>
            <li>شبکه‌های هرمی و فعالیت‌های غیرقانونی و غیرمجاز اقتصادی مشابه</li>
            <li>پنل پیامک انبوه</li>
            <li>خرید و فروش فیش حج</li>
            <li>خرید و فروش اعضای بدن</li>
            <li>خرید و فروش دارو</li>
            <li>مسابقه، قرعه‌ کشی و بخت‌آزمایی</li>
            <li>کالاهایی که موجب رواج خشونت و آسیب رساندن به دیگران می‌شود.</li>
            <li>کالا و خدمات مرتبط با سیگار، مواد مخدریا ترک اعتیاد</li>
            <li>فروش دستگاه فلزیاب و گنج ‌یاب، حفاری غیرمجاز و لوازم و تجهیزات مرتبط</li>
            <li>خدمات مرتبط با همسریابی، دوست‌یابی و آگهی‌هایِ محرمیت، صیغه و ازدواج</li>
            <li>خدمات، دفاتر و شرکت‌های لیزینگ به جز نمایندگی‌های مجاز با ارائه مجوز</li>
            <li>فروش فاکتور و پیش فاکتور برای اخذ وام، حذف سهم بیمه کارفرما و مشابه آن</li>
            <li>درج شماره حساب آگهی در متن</li>
            <li>هرگونه خدمات مرتبط با گرین‌ کارت و اخذ ویزا</li>
            <li>درخواست کمک‌های نقدی یا پیش ‌پرداخت برای معامله‌های از راه دور</li>
            <li>خدمات و کالاهایی که شائبه کلاهبرداری در آن مشاهده شود</li>
            <li>خرید و فروش حیوانات وحشی و گوشت‌خوار</li>
            <li>خرید و فروش مواد غذایی، تقویتی و مکمل‌های ورزشی</li>
            <li>درج مکرر آگهی‌‌های یکسان حتی با عناوین متفاوت در یک روز</li>
            <li>ارسال مجدد یک آگهی‌‌ که از زمان حذف آن توسط کاربر، بیش از ۲۴ ساعت سپری نشده باشد.</li>

        </ol>

    </p>
</div>


<div class="jumbotron">
    <h2 class="aqua">شرایط مشاهده و استفاده از آگهی‌ها :</h2>
    <p>

        <ol type="1">
            <li>مسئولیت استفاده از هرگونه آگهی، متن، پیام، توضیح، اطلاعات، عکس، مشخصات تماس و موارد مشابه که به زنگوله ارسال می‌شود یا در آن قرار می‌گیرد برعهدهٔ فرستنده اطلاعات ومسئولیت هر لینک، مطلب و ادعای مربوط به زنگوله که به واسطه‌ٔ اشخاص حقیقی و حقوقی دیگر در فضای مجازی و سایر رسانه‌ها منتشر می‌شود، با خود این افراد است.</li>
            <li>هرگونه کپی‌برداری از اطلاعات آگهی ‌دهنده، نوشتار و تصاویر آگهی‌های ارسال شده به زنگوله به شکل دستی و یا خودکار پیگرد قانونی دارد.</li>
            <li>زنگوله هیچ مسئولیتی در قبال موارد فوق یا درقبال خسارات مستقیم، اتفاقى، تبعى، غیرمستقیم و کیفرى ناشى از دسترسى و استفادهٔ شما از این برنامه را ندارد.
            </li>
            <li>قوانین جمهوری اسلامی ایران بر تعبیر، تفسیر، اجرا و تأثیر این توافق‌ نامه حاکم خواهند بود.</li>
           
        </ol>

    </p>
</div>

<div class="jumbotron">
    <h2 class="aqua">موارد احتیاط هنگام معامله :</h2>
    <p>

        <ol type="1">
            <li>
                حتما به صورت حضوری و نقدی معامله کنید.
            </li>
            <li>
                پیش از دریافت کالا هزینه‌ای پرداخت نکنید و پس از خرید، درصورت امکان، رسید کتبی یا فاکتور خرید معتبر یا احیاناً بسته‌بندی اولیه را از فروشنده دریافت کنید. 

            </li>
            <li>
                اگر فروشنده، اطلاعات شخصی یا اطلاعات حساب بانکی خود را ارائه کرد،‌ دلیل کافی برای اعتماد شما به ایشان نیست؛ ممکن است اطلاعات شخص دیگری مورد سوء‌استفاده قرار گرفته باشد.

            </li>
            <li>
            هنگام خریدهای پستی یا زمانی که قیمت و شرایط ارائه شده بیش از حد عالی به نظربرسد و یا افراد بی‌دلیل و به طرزی مشکوک اطلاعات حساب بانکی شما را می‌پرسند مراقب باشید.
            </li>
            <li>
                هنگام پرداخت مبالغ قابل توجه درمحلی امن مانند پایگاه‌های پلیس یا شعب بانک‌ها قرار بگذارید..

            </li>
            <li>
                در ازای چک‌های رمزدار بانکی، با مراجعه به بانک مربوط از اصالت آن اطمینان حاصل کنید.
            </li>

        </ol>

    </p>
</div>
